/* variable */
:root
{
    --black-color: #17181c;
    --blue-color: #3e50b4;
    --white-rbg-color: 255, 255, 255;
    --green-rbg-ccolor: 0, 212, 113;
}

*
{
    margin: 0;
    padding: 0;
}

/* blowque */
.header
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cursor
{
    width: 20px;
    height: 20px;
    border: 10px solid rgba(var(--white-rbg-color), .8);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursor-animate 550ms infinite alternate;
}

.cursor::after
{
    content: "";
    width: 40px;
    height: 40px;
    border: 15px solid ;
}